/* Oswald Font */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
/* OpenSans Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.1;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: #fff;
  color: #333;
  font-size: 14px;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  color: #343434;
  background-color: #ffc401;
  font-weight: 700;
  font-size: 16px;
  border-radius: 3px;
  padding: 12px 25px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  line-height: 20px;
}

.button:hover {
  background-color: #e0ac00;
  color: #fff;
}

.grey-button {
  background-color: #333333;
  color: #fff;
}

.grey-button:hover {
  background-color: #151515;
}

#header .navbar {
  background: rgba(30, 30, 30, 0.45);
  padding: 8px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#header .logo {
  float: left;
  padding-top: 20px;
}

#header .navigation {
  float: right;
}

#header .navigation > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#header .navigation > ul > li > a {
  display: block;
  padding: 0 15px;
  font-weight: 700;
  color: #fff;
  line-height: 60px;
  text-decoration: none;
  text-transform: uppercase;
}

#header .navigation > ul > li > a.active {
  color: rgb(162, 0, 255);
}

#header .navigation > ul > li > a:hover {
  color: rgb(162, 0, 255);
}

#intro {
  background-color: rgb(162, 0, 255);
  background-image: url("../img/pattern.png");
  min-height: 100vh;
  padding-top: 190px;
  padding-bottom: 140px;
}

#intro .intro-left,
#intro .intro-right {
  float: left;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

#intro .intro-text h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 75px;
  line-height: 85px;
  letter-spacing: 1px;
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 15px;
}

#intro .intro-text h3 {
  color: #fff;
  font-size: 34px;
  line-height: 34px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 20px;
}

#intro .intro-text p {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

#about {
  padding-top: 80px;
  padding-bottom: 120px;
}

#about .section-heading {
  text-align: center;
}

#about .section-heading h3 {
  color: #222;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#about .section-heading h2 {
  color: #222;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

#about .section-heading h2 span {
  border-bottom: 2px solid #ffc401;
  display: inline-block;
  padding-bottom: 15px;
}

#about .about-left,
#about .about-right {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

#about .about-left {
  width: 58.33333333%;
}

#about .about-right {
  width: 41.66666667%;
}

#about .tabs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#about .tabs ul li {
  border-right: 1px solid rgb(129, 129, 129);
}

#about .tabs ul li a {
  display: block;
  color: #222;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 25px;
}

#about .tabs ul li:first-child a {
  padding-left: 0;
}

#about .tabs ul li:last-child {
  border-right: none;
}

#about .tabs ul li.active a {
  color: #ffc400;
}

/*#about .tabs ul li:nth-child(1)*/
/*#about .tabs ul li:nth-child(2n)*/

#about .tabs .tab-content {
  font-size: 16px;
  line-height: 28px;
}

#services {
  padding-top: 80px;
  padding-bottom: 120px;
}

#services .services-img {
  display: inline-block;
  margin-bottom: 80px;
}
#services .text-left {
  color: #949494;
  float: left;
  box-sizing: content-box;
  width: 50%;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}
#services .text-right {
  color: #949494;
  float: right;
  box-sizing: content-box;
  width: 50%;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}
#services .text h2 {
  color: #656565;
  font-weight: 400;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.1;
}
#services .buttons {
  display: inline-block;
  text-transform: uppercase;
  color: #ffc401;
  background-color: #ffc401;
  font-weight: 700;
  font-size: 16px;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  line-height: 20px;
  width: 50%;
}
#services .services-buttons {
  margin-left: 30%;
  margin-top: 10%;
}
#services .fas {
  color: #343434;
}
#services .fab {
  color: #343434;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#features {
  background-image: url(https://dsathemes.com/html/xlander/pattern/img/parallax_bg/features.jpg);
  /* padding-bottom: 600px; */
  padding-top: 80px;
  background-attachment: fixed;
}

#features .features-heading {
  text-align: center;
  margin-bottom: 10px;
}
#features .features-heading h3 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: "Oswald", sans-serif;
  color: #fff;
}
#features .features-heading h2 {
  text-align: center;
  border-bottom: 2px solid #ffc401;
  display: inline-block;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}
#features .text {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

#features .text::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
#features .text h4 {
  font-size: 20px;
  font-weight: 400;
}
#features .fa-atom {
  font-size: 60px;
  color: #ffc401;
}
#features .text-left {
  width: 40%;
  float: left;
  box-sizing: content-box;
  color: #fff;
  padding-left: 50px;

  position: relative;
}
#features .text-right {
  width: 40%;
  float: right;
  box-sizing: content-box;
  color: #fff;
  padding-right: 150px;
  position: relative;
}
#features .text-wrapper {
  display: inline-block;
  width: 70%;
}
#features .icon {
  width: 18%;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  margin-top: 17px;
}

#facts {
  background-image: url(https://dsathemes.com/html/xlander/pattern/img/parallax_bg/statistic-banner.jpg);
  padding-top: 80px;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#facts .facts-heading {
  text-align: center;
  color: #fff;
}
#facts .facts-heading h3 {
  font-size: 24px;
  font-weight: 300;
}
#facts .facts-heading h2 {
  border-bottom: solid 2px #ffc401;
  display: inline-block;
  font-size: 40px;
  font-weight: 400;
}
#facts .numbers {
  display: inline-flex;
  width: 20%;
  box-sizing: content-box;
  font-size: 80px;
  color: #fff;
  padding-left: 7%;
  padding-top: 40px;
  padding-bottom: 20px;
}
#facts .facts-second {
  padding-left: 50%;
}
#facts .facts-third {
  padding-left: 70%;
}
#facts .facts-fourth {
  padding-left: 50%;
}
#facts .text {
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#works .work-heading {
  text-align: center;
}
#works .work-heading h2 {
  color: #222;
  font-size: 40px;
  font-weight: 400;
  border-bottom: solid 2px #ffc401;
  display: inline;
}
#works .work-heading h3 {
  color: #222;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#works .works-buttons {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  margin-left: 20%;
  color: #bbbbba;
}

#works .work-img {
  padding-left: 5%;
}
#works .img1 {
  float: left;
  display: inline;
  box-sizing: border-box;
}
#works .img2 {
  float: left;
  display: inline;
  box-sizing: border-box;
}
#works .img3 {
  float: left;
  display: inline;
  box-sizing: border-box;
}
#works .img4 {
  float: left;
  display: inline;
  box-sizing: border-box;
}
#works .img5 {
  float: left;
  display: inline;
  box-sizing: border-box;
}
#works .img6 {
  float: left;
  display: inline;
  box-sizing: border-box;
}
#works .img7 {
  float: left;
  display: inline;
  box-sizing: border-box;
}
#works .img8 {
  float: left;
  display: inline;
  box-sizing: border-box;
}
 /* HISTORY SEKSIJA */
.container {
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
   
  }
#history {
    padding-top: 100px;
 
    
}
#history .history-heading{
    text-align: center;
}
#history .history-heading h2{
      
    color: #222;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: solid 2px #ffc401;
   display: inline;
}

    #history .line-down{
        background-color: #d5d5d5;
        width: 2px;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 100px;  
    }
#history .wrapper{
    position: relative;
    margin-left: 10%;
    margin-right: 60%;
    margin-top: 5%;
}
#history .left1{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f5f5f5;
    
}
#history .cursor{
    width: 25px;
    height: 25px;
    background-color: #812d2d;
    position: relative;
    left: 97%;
    top: 30%;
    transform: rotate(45deg);
    

    
}
#history .icon{
    background-color: white;
    width:40px;
    height: 40px;
    border: solid 2px black;
    border-radius: 100%;
    position: relative;
   
}


#history .metai{
    width: 70px;
    height: 30px;
    background-color: #ffc401;
    position: relative;
    margin-left: 45%;
    margin-top: 3%;

}